<h1>mis tareas</h1>
<ul>
  <% @tasks.each do |task|%>
  <label>mmm<input type="checkbox" id="cbox1" value="first_checkbox"><%= link_to task.title, task_path(task) %></label>jaja<br>
  <%end%>

  <p>HOLA<li>CHAO<%= link_to "+ agregar tarea", new_task_path(@task) %></li></p>

  


</ul>